doctype html
html(lang="en")
		head
			meta(name='viewport', content='width=device-width, initial-scale=1.0' charset="utf-8")
			title="Jade Seems Cool"
			link(href="./learnjade.css", rel="stylesheet", type="text/css")
		body
			#navStripe
				#navContainer
					#navigation
						img(id="navLogoImg" src="./img/learnJadeLogo.png", width="120", height="60")
						ul.headerNav
							li
								a(href="/") Home
							li
								a(href="/featuers.html") Features
							li
								a(href="/pricing.html") Pricing
							li
								a(href="/support.html") Support

			#mainContainer
				#contentArea
					- var name = ["Bob"+", "+"Harry"+", "+"Aaron"]
					// variables can also be arrays!
					.article
						h1 Hello #{name}
						p
							| Some stuff goes in here. 
							br
							| Add a pipe to the beginning of a new line when adding a new line in a paragraph.
							br
							| This is ridiculous.
						- var cardName = ["Sorin, Solemn Visitor"]
						h4 #{cardName}
						p
							img(src="./img/sorinSolemnVisitor.png")
							br
							| +1: Until your next turn, creatures you control get +1/+0 and gain lifelink.
							br
							| −2: Put a 2/2 black Vampire creature token with flying onto the battlefield.
							br
							| −6: You get an emblem with "At the beginning of each opponent's upkeep, that player sacrifices a creature."
			#footerStripe
				#footerNav
					ul.footerNav
							li
								a(href="/") Home
							li
								a(href="/featuers.html") Features
							li
								a(href="/pricing.html") Pricing
							li
								a(href="/support.html") Support
				